.wrapper__datahub{ display: flex; flex-flow: row; flex-wrap: wrap; justify-content: center; }
.wrapper__datahub > *{ margin: 0 1rem 2rem; }
/**************************************************
** CARDS STYLING 
***************************************************/
/* Card outside box. Here is where the 
** dimensions, shadows and borders are set 
------------------------------------------ */
.card__datahub{
    position: relative;
    overflow: hidden;
    display: flex;
    
    width: 530px; /* Box dimensions */
    height: 220px; 
    
    border-radius: 4px; /* Styling */
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);  
    transition: box-shadow 0.56s ease-in-out; /* Animation */
    /* background-color: rgba(0,0,0,.2); /* for debugging */
  }
  /* Shows an outer shadow */
  .card__datahub:hover{ /* Just for styling */
    cursor: pointer;
    box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.2);
  }
  
  /* Cards titles styling
  ------------------------------------------ */
  .card__title__datahub{ /* Just for styling */
      align-self: flex-end; padding: 0.5rem;
      color: rgba(255,255,255,.90); font-size: 2rem;
      line-height: 1;font-weight: 600; 
      background-color: rgba(75, 75, 75, .50);
      overflow: hidden;
      max-width: 75ch;
      text-overflow: ellipsis;
      white-space: nowrap;
    }  
  
  /* Styles for:
  ** - Using IMG tag inside a container
  ------------------------------------------ */
  /* The image container */
  .card__thumbnail__datahub{
    position: relative;
    overflow: hidden;  
    display: flex;
    justify-content: center; /* horizontal center */
    align-items: center; /* vertical center */
    
    width: 100%; /* Thumbnail dimensions. */
    height: 100%; /*** Change the height to make the image smaller ***/
    /* background-color: rgba(0,0,0,.2);  /* for debugging */
    
  }
  /* Sets the image dimensions */
  .card__thumbnail__datahub > img{ /* Tip: use 1:1 ratio images */
    height: auto; /* or width when img.width > img.height */ 
  }  
  /* Styles the title inside the img container */
  .card__thumbnail__datahub > .card__title__datahub{ /* Just for styling */
    position: absolute; left: 0; bottom: 0; }
  
  .card__description__datahub {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 150px;
  }
  