/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-datahub-visithame-datahub {
	border: 1px dotted #f00;
}

.checkbox-control {
	margin-bottom: 2px !important;
	margin-left: 2px !important;
}

.checkbox-container {
	max-height: 200px;
	overflow: auto;
}

.select-control {
	max-height: 60px;
}
