.wp-block-datahub-visithame-datahub {
	background-color: #21759b;
	color: #fff;
	padding: 2px;
}

/* Style the tab */
.datahub-region-tab {
	overflow: hidden; // border: 1px solid #ccc;
	// background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.datahub-region-tab button {
	background-color: #fff;
	float: left;
	border: 1px solid #000;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	margin: 2px 2px;
	transition: 0.3s;
	color: rgb(0, 0, 0);
}

/* Change background color of buttons on hover */
.datahub-region-tab button:hover {
	background-color: rgb(124, 121, 121);
}

/* Create an active/current tablink class */
.datahub-region-tab button.active {
	background-color: rgb(107, 101, 101);
	text-decoration: underline;
	font-weight: 700;
}

/* Style the tab content */
.datahub-region-tabcontent {
	display: none;
	// padding: 6px 12px; // border: 1px solid #ccc;
	border-top: none;
}

.datahub-container-cards {
	display: flex;
	justify-content: space-between;
	// flex-wrap: wrap;
	flex-flow: row wrap;
}

.datahub-logo {
	max-width: 175px;
	max-height: 175px;
	padding: 10px;
	display: flex;
	justify-content: center;
	background-color: #fff;
	outline: 1px rgba(31, 31, 31, 0.2) solid;
}

.datahub-logo-image {
	max-width: 100%;
	object-fit: contain;
}

.datahub-container-card {
	position: relative;
	width: 530px; // calc(50% - 20px)
	height: 220px;
	background-size: cover;
	background-position: 50%;
	margin: 10px;
	transition: 0.5s;
	-webkit-transition: all 0.5s;
}

.datahub-container-cards p {
	margin: 0 !important;
	color: #fff !important;
	margin-bottom: 0 !important;
}

body .datahub-container-card p {
	margin: 0 !important;
	margin-bottom: 0 !important;
}

.datahub-container-card:hover {
	box-shadow: 0 6px 6px 6px rgba(0, 0, 0, 0.2);
	transition-timing-function: ease;
	transition-duration: 0.5s;
}

.datahub-container-card-overlay {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	-webkit-transition: all 0.5s;
	transition: 0.5s;
}

.datahub-container-card-overlay:hover {
	background-color: rgba(0, 0, 0, 0.4);
	transition-timing-function: linear;
	transition-duration: 0.5s;
}

.datahub-container-card-title {
	position: absolute;
	color: #fff;
	font-size: 1.5em;
	padding: 2%;
}

.datahub-container-card-description {
	position: absolute;
	color: #fff;
	font-size: 1em;
	line-height: 2;
	padding: 2%;
	bottom: 0;
}

// Title image ------------
.datahub-title-image {
	height: 40vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.datahub-title-text {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
	text-shadow: 0 0 3px #000;
}

.datahub-title-links {
	position: absolute;
	bottom: 8px;
	left: 16px;
	display: flex;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.4); // transition: all .2s linear;
}

.datahub-video-links {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
}

.datahub-video-link {
	display: flex;
	align-items: center;
}

.datahub-row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	margin: 1em 0 0;
}

.datahub-main-content-column {
	display: flex;
	flex-direction: column;
	// flex-basis: 100%;
	flex: 3;
	min-width: 20em;
}

.datahub-sidebar-column {
	display: flex;
	flex-direction: column;
	align-items: center;
	// flex-basis: 100%;
	flex: 1; // overflow: hidden;
}

.datahub-sidebar-column ul li {
	list-style-type: none;
}

.datahub-sidebar-column ul {
	margin: 0 0 1em 1.5em;
}

.datahub-sidebar-li {
	display: flex;
	align-items: flex-start;
}

.datahub-sidebar-li span {
	margin: 10px 10px 0 0;
}

@media screen and (max-width: 450px) {

	.datahub-link-text {
		display: none;
	}
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

	.datahub-link-text {
		display: none;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 992) {

	.datahub-link-text {
		display: none;
	}
}

// /* Medium devices (landscape tablets, 768px and up) */
// @media only screen and (min-width: 768px) {
// 	.datahub-link-text {
// 		display: none;
// 	}
// }
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.datahub-title-image {
		min-height: 400px;
	}
}
// /* Extra large devices (large laptops and desktops, 1200px and up) */
// @media only screen and (min-width: 1200px) {
// 	.datahub-link-text {
// 		display: none;
// 	}
// }

// Title image icons
.datahub-icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	stroke-width: 0;
	stroke: currentColor;
	fill: #fff;
	margin-right: 5px;
}

.datahub-icon-link {
	text-decoration: none;
	color: #fff;
	margin-left: 5px;
	margin-right: 10px;
	text-transform: uppercase;
	display: flex;
	align-items: center;
}

.datahub-link {
	text-decoration: none;
	color: #fff;
}

.datahub-lightbox-column {
	float: left; // width: 25%;
}

.datahub-lightbox-row > .datahub-lightbox-column {
	padding: 0 8px;
}

.datahub-lightbox-row::after {
	content: "";
	display: table;
	clear: both;
}

.datahub-lightbox-row {
	width: 100%;
}

.datahub-carousel-images {
	//   padding: 8px 8px;
	margin: 8px 8px;
	width: 208px;
	height: 117px;
}

#datahub-images-carousel-prev,
#datahub-images-carousel-next {
	position: absolute;
	top: 50%;
	cursor: pointer;
	width: auto;
	padding: 16px;
	margin-top: -30px; // margin-left: 8px;
	color: #fff;
	font-weight: 700;
	font-size: 20px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
	-webkit-user-select: none;
	background-color: rgba(0, 0, 0, 0.3);
}

#datahub-images-carousel-next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

#datahub-images-carousel-prev:hover,
#datahub-images-carousel-next:hover {
	background-color: rgba(0, 0, 0, 0.8);
}

.datahub-media-column {
	position: relative;
	width: 60%;
	margin: auto;
}

.datahub-lightbox-row-content {
	//   width: 60%;
	white-space: nowrap;
	overflow-x: scroll;
	margin: auto; //   position: relative;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.datahub-lightbox-row-content::-webkit-scrollbar {
	display: none;
}

/* The Modal (background) */
.datahub-lightbox-modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: #000;
}

/* Modal Content */
.datahub-modal-content {
	position: relative;
	background-color: #fefefe;
	margin: auto;
	padding: 0;
	width: 80%;
	max-width: 800px;
}

/* The Close Button */
.datahub-close {
	color: #fff;
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 35px;
	font-weight: 700;
	background-color: rgba(0, 0, 0, 0.3);
	padding: 8px;
}

.datahub-close:hover,
.datahub-close:focus {
	color: #999;
	text-decoration: none;
	cursor: pointer;
}

/* Hide the slides by default */
.datahub-lightbox-slides {
	display: none;
}

/* Next & previous buttons */
.datahub-prev,
.datahub-next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -50px;
	color: #fff;
	font-weight: 700;
	font-size: 20px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
	-webkit-user-select: none;
	background-color: rgba(0, 0, 0, 0.3);
}

/* Position the "next button" to the right */

.datahub-next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */

.datahub-prev:hover,
.datahub-next:hover {
	background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */

.datahub-numbertext {
	color: #fff;
	background-color: rgba(0, 0, 0, 0.8);
	font-size: 16px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}

.active {
	opacity: 1;
}

.datahub-lightbox-thumbnail {
	object-fit: scale-down;
	background-color: rgba(0, 0, 0, 0.6);
}

.datahub-lightbox-thumbnail:hover {
	box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.2), -2px 4px 8px 4px rgba(0, 0, 0, 0.2);
	transition: 0.3s;
}

.read-more-button {
	position: absolute;
	bottom: 10px;
	width: 100px;
	text-align: center; //left:calc(100%-50px);
}

@keyframes animation {

	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.datahub-show-more-container {
	display: none;
}

.datahub-row-media {
	margin: 3em 0 3em 0;
}

.datahub-divider-content {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.datahub-divider-title {
	flex-grow: 0;
	margin-right: 2em;
}

.datahub-divider {
	flex-grow: 1;
	height: 1px;
	background-color: #9f9f9f;
}
